<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submited</title>
</head>
<body>

<center>
<h4> "{{ word }}" {{ w.count }} раз(а) на <a href="{{ url }}" target = "_blank">{{ url }}</a> </h4>
</center>
</body>
</html>