<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Word</title>
</head>

<body>

<form action="/submited/" method="post">
    <center>
        {% csrf_token %}
        {{ form }}
    </center>
    <br></br>
    <center>
        <input type="submit" class="button" value="Submit">
    </center>
</form>

</body>

</html>