<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Клиент</title>
</head>
<body>
<center><p>Номер квартиры: <b>{{ flat.number }}</b></p></center>
<center><p><b>Информация о клиенте:</b></p></center>
<center><p>Фамилия: <b>{{ client.surName }}</b></p></center>
<center><p>Имя: <b>{{ client.firstName }}</b></p></center>
<center><p>Отчество: <b>{{ client.patronymic }}</b></p></center>
<center><p>Номер: <b>{{ client.phone }}</b></p></center>
</body>
</html>