<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог квартир</title>
</head>
<body>
{% for flat in flats %}
    <center><p>Номер квартиры: <a href = "/{{ flat.number }}/">{{ flat }}</a></p></center>
{% endfor %}
</body>
</html>