<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Квартира</title>
</head>
<body>
<center><p>Номер квартиры: <b>{{ flat.number }}</b></p></center>
<center><p>Клиент: <a href = "/{{ flat.number }}/{{ client.id }}/">{{ client.surName }}</a></p></center>
</body>
</html>