<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<form action="/flatList/" method="post">
    <center>
        {% csrf_token %}
    </center>
    <br></br>
    <center>
        <input type="submit" class="button" value="Каталог квартир">
    </center>
</form>

</body>
</html>